nav {
    margin: auto;
    width: 100%;
    max-width: $max-width;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    &>div {
        display: flex;
    }
}

.about {}